{
  "name": "rebolo-app",
  "version": "1.0.0",
  "scripts": {
    "dev": "bun --watch src/index.js --outdir=public",
    "build": "bun build src/index.js --outdir=public --minify",
    "watch": "bun build src/index.js --outdir=public --watch"
  },
  "devDependencies": {
    "bun": "latest"
  },
  "dependencies": {}
}

